
.sober-card {
    padding: 20px 0px 10px 0px;
    background-color: #fff;
    display: inline-block;
  }

.sober-time {
  font-size: 20px;
  text-align: center; 
}

.time-ref {
color: #596066;
font-size: 12px; 
}

#resident-name {
	font-size: 2rem;
	font-family: sans-serif;
}


.landing {
	margin-top: 50px;
}



