<ion-view view-title="Welcome">
  <ion-spinner ng-show="loading"></ion-spinner>
  <ion-content class="padding" ng-show="!loading">


    <div class="list card">
      <div class="item item-avatar">
        <img src="https://scontent-lax3-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/29384_10151220410414547_1338190958_n.jpg?oh=f88f0e9efba49237c54f65a9be08ba16&oe=57AC06B3">
        <h2 id="resident-name">{{name}}</h2>
        <p>
          <div id="sober-card" class="sober-card">
            <div id="sober-time" class="sober-time">
              <span id="days">00</span><span class="timeRefDays time-ref">D</span>
              <span id="hours">00</span><span class="timeRefHours time-ref">H</span>
              <span id="minutes">00</span><span class="timeRefMinutes time-ref">M</span>
              <span id="seconds">00</span><span class="timeRefSeconds time-ref">S</span>
              Of Sobriety
            </div>
          </div>
        </p>
      </div>
    </div>

    <div class="card row">
      <div class="col col-60">
        <p id="card-balance">Daily Account Balance</p>
      </div>
      <div class="col col-40 card-balance-container">
        <p id="card-balance-number">$20</p>
      </div>
    </div>

  <div class="list">
     <a href="#" class="item item-icon-right">
    <i class="icon ion-ios-checkmark-outline"></i>
    Attend a Meeting
  </a>

  <a href="#" class="item item-icon-right">
    <i class="icon ion-ios-checkmark-outline"></i>
    Urine Test At CFC Today
  </a>

  <a href="#" class="item item-icon-right">
    <i class="icon ion-ios-checkmark-outline"></i>
    Therapy at 4 PM
  </a>

  <a href="#" class="item item-icon-right">
    <i class="icon ion-ios-checkmark-outline"></i>
    Case Manager Meeting at 3 PM
  </a>
  </div>

  </ion-content>
</ion-view>