<ion-view view-title="Welcome">
  <ion-content class="padding">


    <div class="list card">
      <div class="item item-avatar">
        <img src="https://scontent-lax3-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/29384_10151220410414547_1338190958_n.jpg?oh=f88f0e9efba49237c54f65a9be08ba16&oe=57AC06B3">
        <h2 id="resident-name">{{name}}</h2>
        <p>
          <div id="sober-card" class="sober-card">
            <div id="sober-time" class="sober-time">
              <span id="days">00</span><span class="timeRefDays time-ref">D</span>
              <span id="hours">00</span><span class="timeRefHours time-ref">H</span>
              <span id="minutes">00</span><span class="timeRefMinutes time-ref">M</span>
              <span id="seconds">00</span><span class="timeRefSeconds time-ref">S</span>
              Of Sobriety
            </div>
          </div>
        </p>
      </div>
    </div>

    <div class="card row">
      <div class="col col-60">
        <p id="card-balance">Daily Account Balance</p>
      </div>
      <div class="col col-40 card-balance-container">
        <p id="card-balance-number">$20</p>
      </div>
    </div>

  <ul class="list">
    <li class="item item-icon-right" ng-click="showSheet()" ng-repeat="event in events">
      <i class="icon ion-checkmark-circled positive" ng-show="event.complete == true"></i>
      <i class="icon ion-close-circled assertive" ng-show="event.complete == false"></i>
      {{event.name}}
    </li>
  </ul>

  </ion-content>
</ion-view>