<ion-tabs class="tabs-icon-top tabs-assertive">

  <!-- List Tab -->
  <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home"
    ui-sref="main.list">
    <ion-nav-view name="tab-list"></ion-nav-view>
  </ion-tab>

  <!-- Calendar Tab -->
  <ion-tab title="Schedule" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar"
    ui-sref="main.calendar">
    <ion-nav-view name="tab-calendar"></ion-nav-view>
  </ion-tab>
  

  <!-- Chat Tab -->
  <ion-tab title="Chat" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes"
    ui-sref="main.chat">
    <ion-nav-view name="tab-chat"></ion-nav-view>
  </ion-tab>

</ion-tabs>
